@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1e1e1e;
  overflow: hidden; /* Скроллить будем внутри контейнеров */
}

/* Obsidian-style scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #40444b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f545c;
}